*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:600px) {
    nav{
        flex-direction: column;
        margin: 20px;
    }
    nav > ul{
        display: none;
    }
    .agency-name{
        width: 100%;
    }
    .dot-icon{
        display:inline-flex;
        margin-top: 20px;
        margin-right: 20px;
    }
    .dot-icon a{
    color: #424247;
    }
    .container{
        padding-top: 0px;
    }
    .banner-container{
        margin: 20px;
        padding: 30px;
    }
    .banner-title{
        font-size: 1.25rem;
    }
    .banner-description{
        font-size: 0.8rem;
        margin: 20px;
        width: 90%;
        text-align: left;
        margin-bottom: 30px;
    }
    .travel-form{
        width: 100%;
        flex-direction: column;
    }
    .travel-form select,input,.find-btn, .containt-details{
        width: 100%;
        margin-bottom: 16px;
    }
    .tour-container{
        flex-direction: column;
        margin: 30px; 
        margin-bottom: 0;
    }
    .tour-title, .destination-title, .choose-title{
        font-size: 1.25rem;
    }
    .perfect-place-img{
        width: 100%;
        border-radius: 16px;
    }
    .perfect-place-img-text{
        font-size: 1.25rem;
    }
    .destination-container{
        padding: 30px;
        margin-bottom: 16px;
    }
    .destination-description{
        width: 100%;
        font-size: 0.8rem;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .choose-description{
        width: 90%;
    }
    .reason, .perfect-place-container,.newsletter-container{
        flex-direction: column;
        margin: 30px;
    }
    .box-3{
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
    .places{
        /* flex-direction: column; */
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .places > div{
        width: 100%;
    }
    .places > div img{
        width: 100%;
        height: 270px;
    }
    .discount-container{
        margin-top: 25px;
    }
    .discount-title{
        font-size: 1.25rem;
    }
    .discount-description{
      width: 90%;  
      font-size: 0.8rem;
    }
    .dis-image{
        width: 93%;
        height: 700px;
        border-radius: 16px;
    }
    .hotel-price-1, .hotel-price-2, .hotel-price-3{
        width: 70%;
        height: 350px;
        top: 300px;
        left: 60px;
        padding: 20px;
    }
    .time-date{
        flex-wrap: wrap;
        gap: 15px;
    }
    .place-title, .book-now{
        margin-top: 16px;
    }
    .see-all-btn{
        margin-top: 0;
    }
    .letter-details{
        width: 100%;
    }
    .newsletter-image
    {
        width: 540px;
    }
    .newsletter-image img{
        width: 100%;
    }
    footer{
        margin-top: 24px;
        padding: 50px;
    }
    footer p,.copy-right, .footer-line{
        margin-top: 15px;
    }
    footer p{
        margin-bottom: 15px;
    }
}